/* Fonts: */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

  @font-face {
    font-family: SatoshiRegular;
    font-weight: normal;
    src: url('assets/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf');
  }

/* Desktop large: between 1281px and 1512px*/
/* Desktop large: between 745px and 1280px*/
/* Tablet: between 376px and 744px - bild 412px hög*/
/* Mobile: between 0 and 375px*/

/* Color selection */
:root {
    --primary-color: rgb(181, 179, 202);
    --secondary-color: rgb(253, 244, 209);
    --tertiary-color: rgb(171, 196, 243);
    --standard-white-color: rgb(255, 255, 255);

    --heading-blue: #0B24F5;
    --heading-pink: #EB5577;

    --button-light-grey: #F5F5F5;
    --tag-blue: #2483E0;
    --tag-green: #6DB486;

    --hover-pink: #EB5577;
    --hover-blue: #0B24F5;
    --hover-yellow: #FFD338;
    --hover-grey: #D0D0D0;

    --scroller-circle-color:  rgb(231, 236, 252, 1);
}


body {
    font-family: 'EB Garamond', serif;
    /*height: 100vh;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    display: inline-block;
}

/* All general heading properties below:*/
h1 {
    font-family: SatoshiRegular;
    font-size: 80px;
    font-weight: 700;
    line-height: 108px;
    margin: 0;
}

h2 {
    font-family: SatoshiRegular;
    margin: 0;
}

h3 {
    font-family: SatoshiRegular;
    margin: 0;
}

h4 {
    font-family: SatoshiRegular;
    margin: 0;
}

p {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* INTRODUCTION SECTION */

.introduction {
    height: 980px;
    width: 100%;
    position: relative;
}

.container {
    margin: 200px 60px;
}

.container img {
    border-radius: 50%;
    max-width: 164px;
    max-height: 164px;
}

.presentation {
    display: flex;
    flex-direction: row;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 20px;
}

.presentation-text h2 {
    font-family: SatoshiRegular;
    color: var(--heading-blue);
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.presentation-text h3 {
    font-family: SatoshiRegular;
    font-size: 32px;
    font-weight: 900;
    line-height: 43px;
}

.presentation-text h4 {
    font-family: SatoshiRegular;
    color: #565656;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}


.container p {
    margin: 30px;
}

.links {
    display: flex;
    margin: 30px;
}


.links button {
    background-color: transparent;
    border: 1px solid white;
    margin: 0 20px 0 0;
}


.svg-icon {
    fill: rgb(0, 0, 0);
    width: 32px;
    height: 32px;
}

.svg-icon:hover {
    fill: var(--hover-grey);
}


.introduction-side-image {
    /*display: none;    - On mobile view */  
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1593645217462-9c70b658579b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Nzc1NjgwNDk&ixlib=rb-4.0.3&q=80');
    background-size: cover;
    background-position: 75%;
}


.scroller {
    background-color: var(--scroller-circle-color);
    position: absolute;
    left: calc(50% - 75px);
    top: 80%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroller img {
    background-color: transparent;
    height: 50px;
}

.scroller p {
    color: var(--heading-blue);
}


/*
.scroller {
    background-color: rgb(236, 33, 33);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroller p {
    text-align: center;
    color: var(--heading-blue);
}

.scroller img {
    height: 60px;
}
*/



/* TECH SECTION */

.tech {
    background-color: var(--primary-color);
    grid-column: 1 / 3;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech h1 {
    color: var(--heading-blue);
    font-size: 80px;
    line-height: 108px;
    font-weight: 700;
}


.tech p {
    max-width: 45%;
    margin: 0 0 0 100px;
}

.tech-tag {
    color: white;
    padding: 0 2px;
}


.js {
    background-color: var(--heading-pink);
}

.react {
    background-color: var(--heading-blue);
}

.mob {
    background-color: var(--tag-blue);
}


/* FEATURED PROJECTS */

:root {
    --featured-proj-width: 800px;
}

.featured-projects {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
}

.featured-projects h1 {
    color: var(--heading-blue);
    max-width: var(--featured-proj-width);
    font-size: 80px;
    line-height: 108px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
}

.project-container {
    max-width: var(--featured-proj-width);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px auto;
}

.project-container-text {
    background-color: white;
    margin: 20px 0 20px 40px;
}

.project-container-text p {
    margin: 10px auto 25px auto;
}

.square-project-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 55%;
}

.square-project-image-weather {
    min-width: 250px;
    height: 250px;
    object-fit: cover;
}


.code-tags {
    margin: 10px 0 20px 0;
}

.code-tags p {
    display: inline;
    background-color: black;
    color: white;
    margin: 0 2px;
    padding: 2px 5px;
}

.project-links {
    display: flex;
    flex-direction: row;
}

.project-links button  {
    background-color: #F5F5F5;
    font-family: SatoshiRegular;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    border-radius: 40px;
    max-height: 45px;
    margin: 10px 5px 5px 5px;
    padding: 7px 15px 7px 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.live-button:hover  {
    background: #ff9595;
    color: white;
}

.git-code-button:hover  {
    background: #ba95ff;
    color: white;
}

.project-links button .icons {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}



/* MY WORDS */

.my-words {
    background-color:#FCEDEA;
    width: 100%;
    border: 1px solid brown;
    grid-column: 1 / 3;
    margin: auto;
    /*display: none;   - For when I don't have anything to show here*/
}

.my-words h1 {
    color: var(--heading-pink);
    border: 1px solid blue;
    padding: 0;
    width: 100%;
    margin: 50px auto auto auto;
}


.article img {
    width: 100%;
    max-width: 600px;
}

.my-words-container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.article {
    grid-column: 1 / 2;
    border: 1px solid red;
    width: 40%;
    max-width: 500px;
    padding: 25px;
    margin: 10px auto 10px auto;
}

.article h2 {
    font-size: 20px;
    color: var(--heading-pink);
    font-weight: 900;
    line-height: 27px;
    margin: 10px 0;
}

.article h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 43px;
    margin: 0 0 20px 0;
}

.button-read-article {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    margin: 25px 0 0 0;
}

.button-read-article .icon {
    fill: black;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.button-read-article p {
    font-size: 18px;
}

.button-read-article:hover {
    background-color: #FFD338;
    color: white;
}

.button-read-article .icon:hover {
    fill: white;
}



/* SKILLS */

.skills {
    background-color: var(--secondary-color);
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.skills h1 {
    color: var(--heading-blue);
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin: 25px auto;
}

.skill-lists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.skill-lists {
    padding: 20px;
    margin: 0;
}

dt {
    display: inline-block;
    font-size: 24px;
    margin: 0 0 15px 0;
    color: white;
    padding: 2px 6px;
}

dd {
    margin: 0;
    font-size: 22px;
}

.code dt {
    background-color: var(--heading-pink);
}

.toolbox dt {
    background-color: var(--tag-blue);
}

.more dt {
    background-color: var(--heading-blue);
}

.upcoming dt {
    background-color: var(--tag-green);
}


/* Time to talk */

.contact {
    height: 800px;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    font-size: 120px;
    font-weight: 900;
    line-height: 162px;
    color: var(--heading-pink);
    margin-bottom: 50px;
}

.contact img {
    border-radius: 50%;
    max-width: 150px;
}

.contact .presentation {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.contact .presentation-text {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 10px;
}

.contact p {
    font-weight: bold;
    margin-top: 15px;
}

.contact .links {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.contact .links button {
    margin: 10px;
}



@media (min-width: 667px) and (max-width: 1024px) {

    body{
    grid-template-columns: 1fr 1fr;
    }

    .introduction {
        height: 665px;
        grid-column: span 2;
    }

    .container {
        margin: 30px 25px;
    }


    .introduction-side-image {
        /*display: none;    - On mobile view */  
        height: 350px;
        grid-column: span 2;
        grid-row: 1;
    }

    .tech p {
        max-width: 400px;
        margin: 0 0 0 60px;
    }

    .scroller {
        top: 89%;
        left: calc(50% - 75px);
    }

    .project-container {
        margin: 0 5px 20px 5px;
        background-color: white;
    }
    
    .project-container-text {
        margin: 10px 25px;
        background-color: white;
    }
}



@media (max-width: 667px) {

    /*
    body{
        grid-template-columns: 1fr;
        }*/

        
.introduction-side-image {
    display: none;
}
    h1 {
        font-size: 72px;
    }

        .introduction {
            height: 100%;
            min-height: 960px;  /*1248px blir snyggt för 320px bredd*/
            grid-column: 1 / 3;
        }

        
        .container .presentation {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .container {
            border: 1px solid blue;
            margin: 20px 20px;
        }


        .tech {
            grid-column: 1 / 3;
            flex-direction: column;
        }

        .tech p {
            max-width: 300px;
            margin: 20px 0 0 0;
        }

        .skill-lists-container {
            flex-direction: column;
        }

        .project-container {
            flex-direction: column;
            justify-content: flex-start;
            margin: 10px auto 10px auto;
            background-color: white;
        }

        .project-container-text {
            margin: 10px 15px;
            background-color: white;
        }

        .square-project-image {
            width: 100%;
            max-width: 400px;
            max-height: 400px;
            object-fit: cover;
            object-position: 55%;
            margin: 0 10px;
        }
        
        .square-project-image-weather {
            width: 100%;
            max-width: 400px;
            max-height: 400px;
            object-fit: cover;
            margin: 0 10px;
        }

        .project-links {
            flex-direction: column;
            margin: 10px 0;
        }


        .featured-projects h1 {
            text-align: center;
            font-size: 58px;
            line-height: 78px;
            margin-bottom: 20px;
        }

        .my-words {
            grid-column: 1 / 3;
        }

        .article {
            width: 100%;
        }

        .skills {
            grid-column: 1 / 3;
            height: 100%;
            min-height: 1300px;
        }

        .skill-lists-container {
            align-items: center;
        }

        
        .skill-lists {
            text-align: center;
            margin: auto;
        }

        .contact {
            grid-column: 1 / 3;
            padding: 20px;
        }

        .contact h1 {
            text-align: center;
            font-size: 58px;
            line-height: 78px;
        }

        .my-words h1 {
            text-align: center;
            font-size: 58px;
            line-height: 78px;
        }

        .contact .presentation {
            flex-direction: column;
        }




        
.scroller {
    grid-column: 1 / 3;
    background-color: var(--scroller-circle-color);
    position: fixed;
    top: 78%;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px auto 50px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroller img {
    background-color: transparent;
    height: 20px;
}

.scroller p {
    color: var(--heading-blue);
    font-size: 18px;
}


}